<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baby-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{22,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{220,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{242,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{264,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{286,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{308,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{330,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{44,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{66,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{88,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{110,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{132,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{154,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{176,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Baby-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{198,0},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Baby.png</string>
            <key>size</key>
            <string>{352,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84dea91b6d48276c4d76ebda3175689f:19d120740c841a815ee24fe137863d03:ae42321f86d2fbcdaf2fddfed5e24894$</string>
            <key>textureFileName</key>
            <string>Baby.png</string>
        </dict>
    </dict>
</plist>
