<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AMoveD-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveD-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,32},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveD-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,64},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveD-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,96},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveL-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,128},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveL-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,160},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveL-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,192},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveL-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,224},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveR-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,256},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveR-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,288},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveR-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,320},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveR-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,352},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveU-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,384},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveU-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,416},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveU-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,448},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AMoveU-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{0,480},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>farmer.png</string>
            <key>size</key>
            <string>{16,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67711356d27a67a09d8820df8920f850:a650bdae7f6188e0d7c27d95ce7b5e78:f7a2f1d665f3f262c478c524a468742a$</string>
            <key>textureFileName</key>
            <string>farmer.png</string>
        </dict>
    </dict>
</plist>
