<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,61}</string>
                <key>spriteSourceSize</key>
                <string>{131,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{131,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,61}</string>
                <key>spriteSourceSize</key>
                <string>{131,61}</string>
                <key>textureRect</key>
                <string>{{131,0},{131,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,61}</string>
                <key>spriteSourceSize</key>
                <string>{131,61}</string>
                <key>textureRect</key>
                <string>{{262,0},{131,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,61}</string>
                <key>spriteSourceSize</key>
                <string>{131,61}</string>
                <key>textureRect</key>
                <string>{{393,0},{131,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>season.png</string>
            <key>size</key>
            <string>{524,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4678785b42f76807abea0709b36ba530:3cb36c219bf40c213eff590a2f651f38:200276e91b3ea727f3a0a2a309d8924d$</string>
            <key>textureFileName</key>
            <string>season.png</string>
        </dict>
    </dict>
</plist>
